<!-- edit-hotel.component.html -->
<div class="container">
  <h2>Edit Hotel</h2>
  <form>
    <div class="form-group">
      <label for="name">Hotel Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="hotel.name"
        name="name"
        required
      />
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input
        type="text"
        class="form-control"
        id="location"
        [(ngModel)]="hotel.location"
        name="location"
        required
      />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        [(ngModel)]="hotel.price"
        name="price"
        required
      />
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <input
        type="number"
        class="form-control"
        id="rating"
        [(ngModel)]="hotel.rating"
        name="rating"
        required
      />
    </div>
    <div class="form-group">
      <label for="rating">Category</label>
      <input
        type="number"
        class="form-control"
        id="category"
        [(ngModel)]="hotel.category"
        name="category"
        required
      />
    </div>

    <div class="form-check">
      <label class="form-check-label" for="isVacational">Is Vacational?</label>
      <input
        type="checkbox"
        class="form-check-input"
        id="isVacational"
        [(ngModel)]="hotel.vacational"
        name="isVacational"
      />
    </div>
    <button type="button" class="btn btn-primary" (click)="saveChanges()">
      Save Changes
    </button>
  </form>
</div>
